body {
  background-color: #F1E1D1;
  font-family: 'Lato', sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}


/* --- Navbar ---*/

.nav {
  opacity: 0.7;  
  background-color: #F1E1D1;
  border-bottom: 1px solid  #EF9295;
}

.nav-item a {
 font-size: 17px;
 /*font-weight: bold;*/
 color: #333;
}

@media only screen and (max-width: 390px) {
  .nav-item a {
    font-size: 13px;
  }
}

.nav .nav-item  a:hover {
  color: #EF9295 !important;
}


/* --- Home section ---*/

#home-section {
 background-image: url(../images/rings.jpeg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 640px;

}
@media only screen and (max-width: 375px)  {
  #home-section {
    margin-left: -30px;
    padding-right: 10px;
    padding-left: 17px;
  }
}

#home-section h1 {
 margin-top: 200px; 
 letter-spacing: 1px;
 font-family: 'Lobster', cursive;
 font-size: 50px;
 color: #EF9295;
 font-weight: bold;
 padding-left: 8px;
}

#home-section h2 {
  letter-spacing: 1px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  /*   color: #486886; */
  color: #EF9295;
  font-weight: bold;

}

#home-section h5 {
  margin-top: 190px;
  color: #EF9295;
}


/* --- About section ---*/

#about-section h2{
  font-size: 50px;
  letter-spacing: 2px;
  margin: 50px 0 50px 0;
  color: #EF9295;
  font-family: 'Lobster', cursive;
}

.kiss {
  border-radius: 15px;
  width: 93%;
}

.about-us {
  font-style: oblique;
  text-align: justify;
  line-height: 2;
  margin: 70px 40px 40px 40px;
  font-size: 17px;
}

.btn-default {
  text-align: center;
  color: black;
  background-color: #EF9295;  
  border-radius: 20px;
  padding: 15px 15px;
  font-style: oblique;
}
.btn-default:hover {
  background-color: gray;
  color: black;
  border: 1px solid red;
}
.details-btn {
  margin-bottom: 60px;
}

/* FLOWERS BG */
#flowers-section {
  background-image: url(../images/flowers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
/*   background-attachment: fixed; */
  height: 590px;
  font-family: 'Lobster', cursive;

}
#flowers-section h2 {
  margin-top: 210px;
  font-size: 60px;
  color: #EF9295;
  font-weight: bold;
  text-shadow: 1px 1px dimgray;
  text-decoration: underline;
}
#flowers-section h3 {
  font-size: 50px;
  color: #EF9295;
  font-weight: bold;
  text-shadow: 1px 1px dimgray;
  text-decoration: underline;
}


/* WEDDING */

#wedding-section {
  margin-bottom: 70px;
}

.wedding-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  letter-spacing: 3px;
  color: #EF9295;
  /*   font-style: oblique; */
  font-family: 'Lobster', cursive;
}

#wedding-section img {
  width: 93%;
  border-radius: 15px;

}

.time {
  margin-top: 70px;
  margin-bottom: 20px; 
  font-size: 30px;
  color: #EF9295;
  /*   font-style: oblique; */
  font-family: 'Lobster', cursive;
}
#wedding-section h5 {
  padding: 5px 5px;
  font-size: 17px;
  font-style: oblique; 

}

/* RSVP */

#rsvp-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
#rsvp-section h2 {
  font-style: oblique;

}
#rsvp-section h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: oblique;

}

.rsvp-btn {
  background-color: #EF9295;
  border-radius: 15px;
  padding: 15px;
  font-style: oblique;
  color: black;

}
.rsvp-btn:hover {
  background-color: gray;
  color: black;
}


/* FOOTER */
#footer {
 border-top: 1px solid  #EF9295;
 line-height: normal;
 padding-bottom: 5px;
}

#footer p {
  font-size: 10px;
}
#footer :first-child {
  padding-top: 5px;
}
.heart {
  color: #F20000;
}
#footer a {
  text-decoration: underline;
  color: black;
}
#footer a:hover {
  color: #EF9295;
}
